<nav class="flex items-center justify-between flex-wrap bg-dark p-6">
  <div class="mx-auto ml-20 mr-20 w-48">
    <img src="../../assets/logo-white.png" alt="">
    <!-- <img src="../../assets/bxcommerce-logo 1.png" alt=""> -->
  </div>
    <div class="w-full block flex-grow  md:items-center lg:flex lg:items-center lg:w-auto">
      <app-search-bar> </app-search-bar>
      <div class="text-sm lg:flex-grow text-right ">
        <div class="inline-block mt-4 sm:inline-block md:inline-block lg:inline-block lg:mt-0 text-white hover:text-orange mr-4">
          <div class="profile">
            <div class="header-containers inline-block">
              <img src="../../assets/profile-white.png" alt="" class="header-img inline-block ml-4 mr-2">
            </div>
            <a href="#"> Login/Join</a>
          </div>
        </div>
        <div class="inline-block mt-4 sm:inline-block lg:inline-block lg:mt-0 text-white hover:text-orange mr-4">
          <div class="wish-list">
            <div class="header-containers inline-block">
            <img src="../../assets/wishlist-white.png" alt="" class="header-img inline-block mr-2">
            </div>
            <a href="#">Wish List</a>
          </div>
        </div>

        <div class="inline-block mt-4 sm:inline-block lg:inline-block lg:mt-0 text-white hover:text-orange mr-12">
          <div class="Cart">
            <div class="header-containers inline-block">
              <img src="../../assets/cart-white.png" alt="" class="header-img inline-block mr-2">
            </div>
            <a href="#" class="inline-block">Cart</a>
          </div>
        </div>
      </div>
    </div>
  </nav>