<div class="pt-2 relative mx-auto text-gray-600 block">
  <input class="bg-white h-10 sm:w-full md:w-full lg:w-64 px-5 pr-16 text-sm focus:outline-none block"
  type="search" name="search" placeholder="Search">
  <button type="submit" class="absolute right-0 top-0 mt-5" >
    <img src="../../../assets/search.png" alt="">
  </button>
  <div class="text-gray text-sm ">
    <a href="#" class="hover:text-orange">christmas costumes </a>| 
    <a href="#" class="hover:text-orange"> baseball cap</a> | 
    <a href="#" class="hover:text-orange">men t-shirt</a> | 
    <a href="#" class="hover:text-orange">flip flops</a> | 
    <a href="#" class="hover:text-orange">white blouse</a>
  </div>
</div>